.nunito-sans-uniquifier {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
#brand a {
  color: var(--brand-primary);
  text-decoration: none;
}
.button-container {
  display: flex;
  gap: 10px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#brand {
  font-size: 1.5rem;
  font-weight: 700;
}
.main-head {
  padding: 24px 76px;
  background-color: var(--bg_default);
}
.custom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  background-color: var(--bg_default);
  font-weight: 600;
  color: var(--body-text);
}
#two_trainglesone {
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  position: absolute;
  width: 100%;
  height: 75px;
  clip-path: polygon(0 0, 90% 0, 0 100%, 0% 100%);
  z-index: 1;
}
#two_trainglestwo {
  background-color: var(--brand-secondary);
  position: absolute;
  width: 100%;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 0%);
}
.custom-button:active {
  background-color: var(--brand-secondary);
  color: var(--bg_default);
}
.custom-button:hover {
  background-color: #ccc;
}
#second-head {
  background-color: var(--bg_default);
  color: var(--body-text);
  height: 145px;
}
#welcome {
  align-self: flex-end;
  margin: 15px;
}
#welcome h1 {
  color: var(--brand-secondary);
  font-size: 1.5rem;
}
main {
  background-color: var(--bg_body);
  flex-grow: 1;
}
footer {
  background-color: var(--bg_body);
  padding: 10px;
}
.footer {
  text-align: center;
}

.footer p {
  display: inline-flex;
  align-items: center;
  color: var(--body-text);
}

.heart-icon {
  color: red;
  font-size: 24px;
  margin: 0 5px;
}
.filterbuttons {
  flex-grow: 1;
}
.dropdownbuttons {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  border-left: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  color: var(--body-text);
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--bg_body);
  border-radius: 10px;
  margin: 10px 0;
  background-color: var(--bg_default);
  overflow: hidden;
}
#searchbar {
  background-color: var(--bg_default);
  color: var(--body-text);
  width: 70%;
}
#searchbar ion-icon {
  padding-left: 10px;
}
.dropdownbuttons span {
  font-size: 12px;
  padding-left: 4px;
  background-color: var(--bg_default);
}
.search-container input[type="text"] {
  background-color: var(--bg_default);
  padding: 15px 10px;
  width: 100%;
  border: none;
  outline: none;
}
#h2-main {
  color: var(--body-text);
}

.search-container select {
  background-color: var(--bg_default);
  border: none;
  color: var(--body-text);
}

@media (max-width: 768px) {
  .button-text {
    display: none;
  }
  .main-head {
    padding: 24px 16px;
  }
  #two_trainglesone,
  #two_trainglestwo {
    height: 50px;
  }
  .search-container input[type="text"] {
    width: 100%;
  }
}
@media (max-width: 487px) {
  .dropdownbuttons {
    border-top: 1px solid #ccc;
  }
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
}
.card {
  width: 100%;
  background-color: var(--bg_default);
  border-radius: 10px;
  overflow: hidden;
}
.image-container{
  height: 200px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card ion-icon {
  color: #e29a18;
}
.card-text {
  padding: 16px;
  color: var(--body-text);
}
#ratings {
  margin-top: 20px;
}
.card-text p:nth-of-type(2) {
  font-weight: 200;
  margin-top: 10px;
}
.favouritesbar {
  display: none;
  position: fixed;
  background-color: var(--bg_default);
  width: 100%;
  height: 150px;
  bottom: 0px;
  border-top: 1px solid #ccc;
  z-index: 10;
}

.favbarcontent {
  display: flex;
  flex-direction: column;
}
.favcard {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 100px;
  margin-top: 9px;
  box-shadow: 1px 2px 10px 0px var(--lines-color);
  border-radius: 5px;
  margin-left: 10px;
  color: var(--body-text);
  overflow: hidden;
}

.favcard img {
  object-fit: cover;
  width: 100%;
  max-height: 50px;
  height: 50px;
  min-height: 50px;

}
.favcarddetails {
  margin-top: 6px;
  margin-left: 6px;
}
.favcarddetails ion-icon {
  color: #e29a18;
}
.favcardscontainer{
  display: flex;
  flex-direction: row;
}
.container {
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 5px;
}
.gap-2 {
  gap: 10px;
}
